/* MAIN SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
img{
    width: 100%;
}

/* NAVBAR */
.mobile-nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.mobile-nav .toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
}
.logo img{
    width: 30px;
    margin-right: 5px;
}
.mobile-nav .hamburger-menu{
    margin: 10px;
    cursor: pointer;
}
.mobile-nav .hamburger-menu span{
    display: block;
    height: 4px;
    width: 25px;
    margin: 2px 0;
    background-color: white;
}
.mobile-nav .dropdown{
    display: none;
    text-align: center;
    background-color: rgba(46, 44, 44, 0.8);
}
.mobile-nav .dropdown li{
    list-style: none;
    padding: 0.5rem 0;
    transition-duration: 0.3s;
}
.mobile-nav .dropdown li:hover{
    background-color: rgba(92, 89, 89, 0.7);
}
.mobile-nav .dropdown a{
    color: white;
    text-decoration: none;
}
.mobile-toggle{
    display: block !important;
}
.desktop-nav{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(46, 44, 44, 0.8);
}
.desktop-nav .nav-links{
    display: flex;
    align-items: center;
}
.desktop-nav li{
    list-style: none;
    padding: 1rem;
    transition-duration: 0.3s;
    cursor: pointer;
}
.desktop-nav li:hover{
    background-color: rgba(92, 89, 89, 0.7);
}
.desktop-nav a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/* HEADER */
header{
    background-image: url(../img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
header .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    min-width: 100%;
    max-height: 100vh;
    max-width: 100%;
    background-color: rgba(26, 24, 24, 0.7);
}
header .header-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
header .header-title .sub-title{
    font-weight: 500;
    font-size: calc(100vw - 97vw);
}

header .header-title .title{
    font-weight: 700;
    font-size: calc(100vw - 92vw);
}

/* SECTIONS */
.section1{
    display: flex;
    justify-content: center;
    background-color: #fdfdfd;
    color: #2B394A;
    padding: 3rem 0;
}
.section1 .content{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section1 .image{
    max-width: 400px;
    margin: 1rem;
}
.section1 .text{
    max-width: 700px;
    margin: 1rem;
}
.section1 .text h2{
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 800;
    text-align: center;
}
.section1 .text p{
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.section2{
    background-image: url(../img/section2-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section2 .overlay{
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(26, 24, 24, 0.7);
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}
.section2 .content{
    max-width: 1200px;
}
.section2 .content h2{
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
    text-shadow: 0 0 10px rgba(46, 44, 44, 0.8);
}
.section2 .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.section2 .card{
    max-width: 350px;
    margin: 1rem;
    color: #2B394A;
    display: table;
    box-shadow: 0 0 10px rgba(26, 24, 24, 0.7);
}
.section2 .card-body{
    background-color: white;
    display: table-cell;
    border-radius: 5px;
}
.section2 .card-body img{
    border-radius: 5px 5px 0 0;
    height: 200px;
    object-fit: cover;
}
.section2 .card-title{
    padding: 0.7rem;
    font-weight: 600;
    font-size: 1.2rem;
}
.section2 .card-text{
    opacity: 0.8;
    font-size: 0.9rem;
    padding: 0 0.7rem 0.7rem 0.7rem;
}

.section3{
    display: flex;
    color: #2B394A;
    background-color: #fdfdfd;
    margin: 3rem 0;
    justify-content: center;
}
.section3 .content{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section3 img{
    max-width: 400px;
    padding: 1rem;
    border-radius: 35px;
}
.section3 .text{
    max-width: 700px;
    padding: 1rem;
}
.section3 .text h2{
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 800;
    text-align: center;
}
.section3 .text p{
    letter-spacing: 0.1px;
    line-height: 1.5;
}
.section3 .links{
    display: flex;
    flex-direction: column;
}
.section3 .button{
    background-color: #5865f2;
    border: 0;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition-duration: 0.3s;
    text-align: center;
    max-width: 250px;
}
.section3 .github{
    text-decoration: none;
}
.section3 .button:hover{
    background-color: #505cdf;
}
.section3 .button img{
    max-width: 50px;
}
.section3 .button i{
    margin-right: 0.5rem;
}

/* FOOTER */
footer{
    background-color: #202a30;
}
footer h4{
    padding: 0.7rem 0;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5px;
}

/* ABOUT ME PAGE */
.section3-aboutme-page{
    min-height: 100vh;
    margin: 0;
    background-color: #6571f7;
    color: white;
}
.section3-aboutme-page .content{
    align-items: center;
    margin-top: 4rem;
}
.aboutme-mobile-nav .toggle{
    background-color: #505cdf;
}
.aboutme-mobile-nav .dropdown{
    background-color: #505cdf;
}
.aboutme-desktop-nav{
    background-color: #505cdf;
}
.aboutme-desktop-nav li:hover{
    background-color: #616deb;
}

/* BLOG PAGE */
.blog-page{
    min-height: 100vh;
}
.blog-page .content h2{
    margin-top: 4rem;
}
.blog-page .overlay{
    padding: 0;
    min-height: 100vh;
    align-items: center;
}

@media(min-width: 992px){
    .mobile-nav{
        display: none;
    }
    .desktop-nav{
        display: flex;
    }
    .section2 .card{
        max-width: 250px;
    }
    .section2 .card-body img{
        height: 170px;
    }
}